.formElement {
  display: flex;
  flex-direction: column;

  .formLabel {
    padding-left: 8px;
  }

  .formInput {
    padding-left: 10px;
    width: 400px;
    height: 40px;
    border: none;
    border-radius: var(--border-radius-10);

    &:focus {
      outline: none;
    }
  }
}
