.formElement {
  display: flex;
  flex-direction: column;

  .formLabel {
    padding-left: 8px;
  }

  .inputWrapper {
    position: relative;
  }

  .formInput {
    padding-left: 10px;
    width: 400px;
    height: 40px;
    border: none;
    border-radius: var(--border-radius-10);

    &:focus {
      outline: none;
    }
  }

  .eyes {
    position: absolute;
    top: 12px;
    right: 15px;
  }

  .errors {
    width: 380px;
    color: var(--color-error);
    font-size: var(--font-size-12);
  }

  .loading {
    width: 10px;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .loadingError {
    color: var(--color-error);
  }
  .loadingSuccess {
    color: var(--color-success);
  }
}
