.blockInput {
  position: relative;
  .input {
    width: 332px;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: var(--border-radius-10);
    background-color: var(--color-dark);
    color: var(--color-light);

    &:focus {
      outline: none;
      box-shadow: var(--box-shadow);
    }
  }
  .button {
    position: absolute;
    top: 6px;
    right: 10px;
    color: var(--color-gray);

    &:hover {
      color: var(--color-light);
    }
  }
}
