.wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: rgba(192, 192, 192, 0.95);
  z-index: 60;
  color: var(--color-light);

  .content {
    width: 340px;
    height: 100vh;
    padding-left: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--color-dark);

    .contentHeader {
      position: relative;

      .contentClose {
        color: var(--color-light);
        position: absolute;
        top: 0px;
        right: 15px;
        font-size: 25px;

        &:hover {
          color: var(--color-accent);
        }
      }

      .contentTitle {
        font-size: 24px;
        margin-top: 10px;
        margin-left: 10px;
      }
    }
    .contentMain {
      height: 82vh;
      overflow: scroll;

      .cardList {
        padding-top: 20px;

        .card {
          min-height: 60px;
          display: flex;
          align-items: center;
          column-gap: 10px;
          color: var(--color-gray);

          .cardImage {
            width: 50px;
            border-radius: var(--border-radius-10);
          }
          .cardDescription {
            .cardOrder {
              display: flex;
              align-items: flex-end;

              .cardPrice {
                width: 52px;
              }
              .buttonFavorites {
                color: var(--color-light);

                &:hover {
                  color: var(--color-accent);
                }
              }

              .cardQuantity {
                margin-left: 40px;
                display: flex;
                align-items: flex-end;

                .addQuantity,
                .delQuantity {
                  padding: 0px 5px;
                  color: var(--color-gray);
                  font-size: 18px;

                  &:hover {
                    color: var(--color-light);
                  }
                }
              }
            }
          }
        }
      }
    }
    .basketFooter {
      width: 90%;
      position: absolute;
      right: 15px;
      bottom: 30px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      .basketFooterPrice {
        display: flex;
        justify-content: space-between;
      }
      .basketFooterOrder {
        padding: 10px;
        font-weight: 600;

        &:disabled:hover {
          background-color: var(--color-gray);
          cursor: default;
        }
      }
    }
  }
}

.overflowHidden {
  height: 100vh;
  overflow: hidden;
}
