.productList {
  min-height: 100px;
  margin-top: 40px;
  padding: 20px 10px;
  border-radius: var(--border-radius-10);
  background-color: var(--color-dark);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  position: relative;

  .productListLoading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
